{% load google_translate %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        <link rel="stylesheet" href="{% static 'style2.css' %}">
    </head>
    <body>
        <div class='right'>{% google_translate type='vertical' language='ja' %}</div>
        <h2 class='top'><a href="{% url 'index' %}">食べナビ</a></h2>
        <div class="box">
            {% if user.is_authenticated %}
                <h2>メニューの編集</h2>
                <form action="edit" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="titleInput">メニュー・お店の名前</label>
                        <input id="titleInput" name="menu"
                            type="text"
                            value="{{ menu.menu }}">
                    </div>
                    <div>
                        <label for="price">値段　　　　　　　　</label>
                        <input id="price" name="price" type="number"
                            value="{{ menu.price }}"><span>円</span>
                    </div>
                    <div>
                        <label for="textInput">感想・レビュー</label>
                        <br>
                        <textarea id="textInput"
                            name="description" rows="15" cols="50">{{ menu.description }}
                        </textarea>
                    </div>
                    <div>
                        <button type="submit" class = "btn">編集</button>
                    </div>
                </form>
            {% else %}
                <p>Loginしていません！！</p>
                <a href="{% url 'login' %}"><button class = "btn">LOGIN</button></a>
            {% endif %}
        </div>
    </body>
</html>